.pic-container{
    text-align: center;
}
/*Realized that you need to make a container for the picture for 
text-align:center to center the picture*/

.pic{
    width: 300px;
    height: auto;
}

h1{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
}

.menu{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;

}